@charset "utf-8";

*,
*::before,
*::after
{
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd
{
    margin: 0;
}

figure
{
    background-color: #f1f2f3;
    border-radius: 5px;
    overflow: hidden;
    overflow-x: auto;
    overflow-y: auto;
    padding: 0 15px;
}

figure::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: transparent;
}
 
figure::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 4px;
}
 
figure:hover::-webkit-scrollbar-thumb {
    background: hsla(0, 0%, 53%, 0.4);
}
 
figure:hover::-webkit-scrollbar-track {
    background: transparent;
}

.line
{
    font-family: 'JetBrains Mono', 'Consolas' !important;
    font-size: 14px;

}

.gutter
{
    display: none;
}

line
{
    display: none;
}

ul,
ol
{
    list-style: none;
}

ul
{
    padding-inline-start: 0;
}

html,
body
{
    scroll-behavior: smooth;
}

a:not([class])
{
    text-decoration-skip-ink: auto;
}

img,
picture
{
    width: auto;
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select
{
    font: inherit;
}

@media (prefers-reduced-motion: reduce)
{
    html:focus-within
    {
        scroll-behavior: auto;
    }
}